<div id="sidebar-wrapper">
    <nav class="text-center">
        <ul class="nav sidebar-nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">
                <span>
                    Home    
                </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">
                <span>
                    About    
                </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user_uploaded') }}">
                <span>
                    Uploaded Files    
                </span>
                </a>
            </li>
        </ul>
    </nav>
</div>