 <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav btn-group btn-group-vertical d-block">
            <li class="sidebar-brand btn-group btn-group-vertical">
                <a id="menu-toggle" href="#">
                    <span class="ml-2">
                        Menu
                        <i class="fa fa-bars" id="main-icon" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
            <ul class="sidebar-nav" id="sidebar">     
            <li><a href="{{ url_for('main.index') }}">
                    <span class="float-right">
                        Home
                        <i class="fa fa-tachometer sub_icon" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
            <li><a href="{{ url_for('users.user_uploaded') }}">
                    <span class="float-right">
                        Files
                        <i class="fa fa-files-o sub_icon" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>