{% extends "layout.html" %}

<!--css-->
{% block css %}

{% endblock css %}
<!--css end-->

<!--page content-->
{% block content %}
<div id="page-content-wrapper">
    <div class="page-content mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <h1> {{ filename }} </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!--page content end-->

<!--js-->
{% block js %}

{% endblock js %}