{% extends "layout.html" %}

<!--css-->
{% block css %} 
{% endblock css %}
<!--css end-->

<!--page content-->
{% block content %}
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Colunn-1</h4>
                </div>
                <div class="col-md-6">                    
                    <h4>Colunn-1</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!--page content end-->

<!--js-->
{% block js %}
{% endblock js %}