{% extends "layout.html" %}

<!--css-->
{% block css %} 
{% endblock css %}
<!--css end-->

<!--page content-->
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron land-jmt mt-3 shadow p-3 mb-5 rounded">
                <div class="logos">
                    <img class="logo mb-2 d-flex" src="{{ url_for('static', filename='assets/images/igib.png') }}" alt="">
                    <p class="text-secondary text-center">&</p>
                    <img class="logo-telrad mb-2 d-flex" src="{{ url_for('static', filename='assets/images/tel-rad.png') }}" alt="">
                </div>
                <div class="d-flex mb-3" style="justify-content: center">
                    <span class="text-muted" style="font-style: italic">presents</span>
                </div>
                <hr>
                <hr>
                <div class="d-flex mb-3" style="justify-content: center">
                    <img class="logo-img" src="{{ url_for('static', filename='assets/images/rapid-ct-logo-v6.png') }}" alt="">
                </div>
                <hr>
                <hr>
                <h3 class="text-secondary" style="text-align: center; font-weight: bold">
                    Radiological AI system for Parallel Informatic Detection of Clinical Triage emergencies.
                </h3>
                <div class="d-flex mt-5 mb-3" style="justify-content: center">
                    <a class="btn btn-lg btn-success" href="{{ url_for('main.index') }}">Dive In</a>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}
<!--page content end-->

<!--js-->
{% block js %}

{% endblock js %}