{% extends "layout.html" %}

<!--css-->
{% block css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }} 
{% endblock css %}
<!--css end-->

<!--page content-->
{% block content %}
<div id="page-content-wrapper">
    <div class="page-content mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ url_for('handle_form') }}" enctype="multipart/form-data" method="post">
                        {{ dropzone.create() }}
                        <input type="submit" id="submit" value="Submit and Upload">
                    </form>
                                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!--page content end-->

<!--js-->
{% block js %}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
{% endblock js %}