{% extends "layout.html" %}

<!--css-->
{% block css %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }} 
{% endblock css %}
<!--css end-->

<!--page content-->
{% block content %}
<div id="page-content-wrapper">
    <div class="page-content mt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ dropzone.create(action='upload') }}            
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!--page content end-->

<!--js-->
{% block js %}
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
{% endblock js %}