{% extends "layout.html" %}

<!--css-->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user_files/user_files.css') }}">
{% endblock css %}
<!--css end-->

<!--page content-->
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title text-secondary text-center mt-2">Uploaded Files</h1>
            <hr>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="card flex-md-row mb-4 box-shadow h-md-250 col-md-8 ml-auto mr-auto">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="d-inline mb-3">
                            <span class="btn btn-outline-secondary btn-sm" id="domainDynamicDimension-previous">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            </span>
                            <span class="btn btn-outline-secondary btn-sm" id="domainDynamicDimension-next">
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="calheatmap" id="cal-heatmap"></div>
                    </div>
                </div>
                <div class="card flex-md-row mb-4 mr-2 box-shadow h-md-250 col-md-4  ml-auto mr-auto">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nav flex-column nav-pills col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Bleed (ICH)</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Control (Normal)</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Others</a>
        </div>
        <div class="tab-content col-md-9" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <section class="user-files">
                    <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal text-secondary">Bleed</h4>
                                <strong><small class="text-center text-danger">ICH cases</small></strong>
                            </div>
                            <div class="card-body">
                                <div id="bleed-toolbar">
                                    <select class="form-control">
                                            <option value="">Export Basic</option>
                                            <option value="all">Export All</option>
                                            <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table class="table mb-0 mt-3 cell-border" 
                                id="bleed-table"
                                data-toggle="bleed-table"
                                data-search="true"
                                data-filter-control="true" 
                                data-show-export="true"
                                data-click-to-select="true"
                                data-toolbar="#bleed-toolbar"
                                class="table-responsive">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Timestamp</th>
        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in bleed %}
                                        <tr>
                                                <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox"></td>
                                            <td><span><a href="{{ url_for('files.file', file_id=file.id) }}">{{ file.filename }}</a></span></td>
                                            <td>{{ file.added_on|convertdatetime|formatdatetime}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>    
                </section>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <section class="user-files">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-secondary">Control</h4>
                            <strong><small class="text-center text-danger">Normal (No visible ICH)</small></strong>
                        </div>
                        <div class="card-body">
                            <table class="table mb-0 mt-3 cell-border" id="control-table">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in control %}
                                    <tr>
                                        <td><span><a href="{{ url_for('files.file', file_id=file.id) }}">{{ file.filename }}</a></span></td>
                                        <td>{{ file.added_on|convertdatetime|formatdatetime}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>    
            </section>              
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <section class="user-files">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-secondary">Others</h4>
                            <strong><small class="text-center text-danger">Calcification & Lesion</small></strong>
                        </div>
                        <div class="card-body">
                            <table class="table mb-0 mt-3 cell-border" id="others-table">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Catagory</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in others %}
                                    <tr>
                                        <td>
                                            <span><a href="{{ url_for('files.file', file_id=file.id) }}">{{ file.filename }}</a></span>
                                        </td>
                                        <td><span>{{ file.sample_type }}</span></td>
                                        <td>{{ file.added_on|convertdatetime|formatdatetime}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>    
            </section>
        </div>
        </div>
    </div>
{% endblock content %}
<!--page content end-->

<!--js-->
{% block js %}
<script>
    var piedata = {{counts|tojson}};
</script>
<script>
    var heatmapdata = {{heatmapdata|tojson}};
</script>
<script src="{{ url_for('static', filename='js/cal_heatmap.js') }}"></script>
<script src="{{ url_for('static', filename='js/pie_chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/table_creator.js') }}"></script>
{% endblock js %}