.legend {
  font-size: 12px;
  font-family: sans-serif;
  rect {
    stroke-width: 2;
  }
  text {
    fill: grey;
  }
}

.calheatmap {
  width: 800px;
  height: 200px;
  display: flex;
  overflow-x: auto;
  flex-shrink: 0;
}