.legend {
  font-size: 12px;
  font-family: sans-serif;
  rect {
    stroke-width: 2;
  }
  text {
    fill: grey;
  }
}

.calheatmap {
  width: auto;
  height:auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}