.logo{
  max-width: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}


#content {
  min-height: 90vh;
  position: relative;
}


footer{
  position: absolute;
  bottom: 0;
  height: 80px;
  flex-shrink: none;
}

.nav-img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
}


.content-section {
  background: #ffffff;
  padding: 30px;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 5%;
}


.account-img {
  max-height: 125px;
  max-width: 125px;
  height: auto;
  width: auto;
  margin-right: 20px;
  margin-bottom: 16px;
}

.logo-img {
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
  margin-bottom: 10px;
  border-radius:190px;
}

.account-heading {
  font-size: 2.5rem;
}

.jumbotron{
  background-color: rgba(156, 156, 156, 0.158)
}

.alert{
  position: relative;
  z-index:9999; 
  border-radius:10px
}

.inline {
  display: inline;
}

.jumbotron{
  background-color: rgba(170, 170, 170, 0.219)
}

.page-title{
  background-color: #83838336;
  font-style: italic;
  font-weight: bold;
  height: 1.5em;
  padding: 4px;
}

.alert{
  text-align: center;
  margin: 0.5em;
}